/* GENERAL */

#tru {
    .box {
        @include box(white);

        padding: 20px 25px;

        &.dark {
            hr {
                opacity: .1;
            }

            background: $secondary;

            .table-title {
                color: white;
            }

            .table-row {
                color: rgba(white, 0.4);

                .price {
                    font-weight: $middle;
                    color: white;
                }
            }

            .table-total {
                .total-text {
                    color: white;
                }

                .total-price {
                    color: white;
                }
            }

            .box-white-bottom {
                background-color: white;
                border-bottom-right-radius: $round5;
                border-bottom-left-radius: $round5;
                width: calc(100% + 50px);
                padding: 30px 20px;
                margin: 30px -25px -20px;
                position:relative;
                p{
                    @include txt(13px, $secondary, $middle);
                     line-height: 100%;
                    span.bold{
                        font-weight:$bold;
                    }

                }
                @media screen and (min-width: $sm) {
                    padding:30px 30px 40px;
                    padding: 30px 50px;
                    margin: 30px -30px -40px;
                    border-bottom-right-radius: $round20;
                border-bottom-left-radius: $round20;
                width: calc(100% + 60px);
                   

                }
                
               


                .cta-text-rounded {
                    @include shadow;
                    position:absolute;
                    left:50%;
                    transform: translateX(-50%);
                    top:-40px;

                }
            }
        }
    }

    .table-style {
        hr {
            opacity: .3;
            padding: 10px 0 0 0;
            margin: 0 0 6px;
        }

        .large {
            min-width: 60%;
        }

        .middle {
            min-width: 15%;
        }

        .small {
            width: 40px;
            max-width: 40px;
        }

        .table-title {
            @include txt(12px, rgba($primary, 0.5), $bold);

            text-align: left;
            text-transform: uppercase;

            .price {
                text-align: right;
            }
        }

        .table-row {
            padding: 7px 0;
            align-items: center;

            @include txt(14px, $primary, $middle);

            .price {
                font-weight: $bold;
                text-align: right;
            }

            text-align: left;
        }

        .table-total {
            padding: 0;
            align-items: center;

            .total-text {
                @include txt(14px, $primary, $bold);

                text-align: left;
            }

            .total-price {
                text-align: right;

                @include txt(24px, $cta, $bold);

                &.payment {
                    color: $payment;
                }
            }
        }
    }
}