$primary:#202020;
$secondary:#444444;
$tertiary:#B6BAC0;
$cta:#027CC1;
$cta2:#C0C3DB;
$payment:#00BE6D;
$alert:#F33060;
$modal-bg:white;
$white:white;
$black:black;

$disabled: lighten($tertiary,15%);
$active: $cta;