$primary:#222333;
$secondary:#2A2C47;
$tertiary:#737AAE;
$cta:#3352FF;
$cta2:#3FE3FD;
$payment:#00BE6D;
$alert:#F33060;
$modal-bg:white;
$white:white;
$black:black;

$disabled: lighten($tertiary,15%);
$active: $cta;