
/* GENERAL */
html {
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
    font-size-adjust: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    transition: all .5s;
}

body#tru {
    height: 100%;
    background-color: $primary;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    transition: all .5s;

    @include txt;

    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tru {
    #quote-approve,#quote-pay,#waiting-approve,#quote-payed,#back-button{
            display:none;
    }
    #waiting-button{
        cursor:pointer;
    }
    a {
        text-decoration: none;
        font-weight: normal;
        transition: all .5s;
    }

    img {
        outline: none;
    }

    a img {
        border: none;
    }

    h1, h2, h3, h4, h5, p {
        font-weight: normal;
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    h1 {
        @include txt(22px, $white, $regular);
    }

    h2 {
        @include txt(18px, $white, $regular);
    }

    h3 {
        @include txt(14px, $tertiary, $regular);

        font-style: italic;
    }

    h4 {
        @include txt(30px, $tertiary, $regular);

        &.small {
            font-size: 18px;
        }

        &.large {
            font-size: 40px;

            &.regular {
                font-weight: $regular;
            }
        }
    }

    h5 {
        @include txt(26px, $tertiary, $regular);
    }

    p {
        @include txt(14px, $white, $regular);

        line-height: 120%;

        &.small {
            @include txt(11px, $tertiary, $bold);

            padding: 2px 0 5px 0;
            opacity: 1;
            line-height: 100%;
        }

        &.bold {
            font-weight: $bold;
        }

        &.cta {
            color: $cta;
        }

        &.cta2 {
            color: $cta2;
        }

        &.payment {
            color: $payment;
        }
    }

    hr {
        padding: 20px 0 0 0;
        margin: 0 0 10px;
        width: 100%;
        height: 1px;
        border: 0px;
        border-bottom: 1px solid $tertiary;
    }
    .btn-primary {
        color: #fff;
        background-color: $cta;
        border-color: $cta;
    }
    .button-rounded-border {
        border-radius: $round20;
        border: 2px solid $tertiary;
        padding: 10px 20px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
        background:transparent;

        @include txt(11px, $tertiary, $bold);

        transition: all .3s;

        &:hover {
            background: $tertiary;
            color: $primary;
            transition: all .3s;
        }
    }

    .button-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: white;
        background-color: $cta;
        margin: auto;

        @include shadow;

        transition: all .3s;

        &:hover {
            background-color: $secondary;
            transition: all .3s;
        }

        &.tertiary {
            background-color: $tertiary;

            &:hover {
                background-color: $secondary;
                transition: all .3s;
            }
        }

        &.cta2 {
            background-color: $cta2;

            &:hover {
                background-color: $secondary;
                transition: all .3s;
            }
        }
    }
    .button-cta-rounded {
        width: 100%;
        max-width:350px;
        border-radius: $round30;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        text-transform:uppercase;
        padding:15px 20px;
        color: white;
        background-color: $cta;
        margin: auto;
        transition: all .3s;
        border:0px;

        &:hover {
            background-color: $cta2;
            transition: all .3s;
        }

        &.disabled {
            background-color: $tertiary;

            &:hover {
                background-color: $secondary;
                transition: all .3s;
            }
        }

        &.cta2 {
            background-color: $cta2;

            &:hover {
                background-color: $cta;
                transition: all .3s;
            }
        }
        &.payment {
            background-color: $payment;

            &:hover {
                background-color: $primary;
                transition: all .3s;
            }
        }
    }
    .cta-text-rounded {
        width: auto;
        max-width:270px;
        border-radius: $round30;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight:$bold;
        text-transform:uppercase;
        padding:7px 20px;
        color: white;
        background-color: $cta;
        margin: auto;
        transition: all .3s;


        &.disabled {
            background-color: $tertiary;

           
        }

        &.cta2 {
            background-color: $cta2;

            
        }
        &.white {
            background-color: white;
            color:$tertiary;

            
        }
        &.payment {
            background-color: $payment;

        }
    }

    header {
        width: 100%;
        height: $header-height;
        z-index: 100;
        padding: 10px 20px;
        background: $secondary;
        position: fixed;
        top: 0;
        display:flex;
        align-items: center;

        @include shadow;

        .container {
            max-width: $max-width-desktop;
            padding: 0;
        }
        .header-logo{
            max-width:55%;
            img{
                width:100%;
            }
        }

        .button-rounded-border {
            right: 0px;
        }
    }

    h1 {
        .dealer-name {
            padding: 20px 0;
        }
    }

    .first-margin {
        margin-top: $header-height;
    }

    .video-container {
        max-width: $max-width-desktop;
    }

    .video-content {
        @include box($secondary);

        p {
            &.comment {
                opacity: .8;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 13px;
                line-height: 120%;
                opacity: .7;

                @media screen and (min-width: $sm) {
                    font-size: 14px;
                }

                &.show {
                    white-space: normal;
                    overflow: visible;
                }
            }
        }

        .carousel-item {
            overflow: none;
            img{
                width:100%;
            }
            &.active {
                overflow: none;
            }
        }

        .carousel-control {
            background-color: $secondary;
            height: 50px;
            width: 25px;
            top: 50%;
            margin-top: -10px;
            bottom: auto;
            opacity: 1;
            transition: all .3s;

            i {
                font-size: 12px;
                opacity: .6;
            }

            &:hover {
                width: 33px;
                transition: all .3s;
            }
        }

        .carousel-control-prev {
            border-radius: 0px 25px 25px 0;
            left: -10px;
        }

        .carousel-control-next {
            border-radius: 25px 0 0 25px;
            right: -10px;
        }

        .carousel-caption {
            bottom: auto;
            text-align: left;
            position: relative;
            top: 0px;
            left: 0;
            right: 0;
            padding: 0 25px 0 0;
            p.small{
                opacity:.6;
            }

            .text-button {
                z-index: 10;
                position: absolute;
                top: -18px;
                right: -15px;
                padding: 15px;
                color: $tertiary;

                &.collapse {
                    display: none;
                }
            }

        }

        .carousel-indicators {
            bottom: -35px;

            li {
                width: 25px;
                height: 6px;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                border-radius: 3px;
                border: 1px solid $tertiary;
                cursor: pointer;
                background-color: rgba($tertiary, 0);
                transition: all .3s;

                &:hover {
                    background-color: rgba($tertiary, 0.6);
                    transition: all .3s;
                }

                &.active {
                    background-color: rgba($tertiary, 1);
                    transition: all .3s;
                }
            }
        }
    }

    .cta-buttons {
        width:100%;
        text-align: center;
        padding: 15px 0 0;


        .cta-buttons-button {
            text-align: center;
            padding: 10px 0 20px;
            min-width: 100px;

                @media screen and (min-width: $sm) {
                    padding: 20px 20px 20px;
                }

            p {
                padding-top: 5px;
                text-transform:uppercase;
                opacity:.8;
            }
        }
    }

    .title {
        text-align: center;
    }

    .order {
        max-width: $order-max-width-desktop;
    }

    footer {
        border-top: 1px solid rgba($tertiary, 0.2);
        padding: 10px;
        width: 100%;

        a:hover {
            opacity: .6;
            transition: all .3s;
        }

        img {
            padding: 0 10px;
        }
    }

}