
$sm:544px;
$md:768px;
$lg:992px;
$xl:1200px;//mediaqueries

//fonts weight
$regular:300;
$middle:400;
$bold:600;
$bolder:700;


// 
$header-height:75px;
$max-width-desktop:850px;
$order-max-width-desktop:850px;


//
$round5:5px;
$round20:20px;
$round30:30px;

$max-height:300px;


