
$sm:544px;
$md:768px;
$lg:992px;
$xl:1200px;//mediaqueries

//fonts weight
$regular:300;
$middle:400;
$bold:600;
$bolder:700;


// 
$header-height:75px;
$max-width-desktop:850px;
$order-max-width-desktop:850px;


//
$round5:0px;
$round20:5px;
$round30:5px;

$max-height:300px;
$max-height-md:500px;
$max-height-lg:700px;


